@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Inter:wght@400;500;600;700;800;900&family=MuseoModerno:wght@200;400;500&family=Poppins:wght@100;300;400;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


body,
html {
  overflow-x: hidden;

}
html {
  -webkit-user-scalable:none;
  -moz-user-sclalable:none;
  -ms-user-scalable:none;
   user-zoom: none;
}

body {
  background-color: rgba(0, 0, 0, 0.973);
  font-family: "Poppins", sans-serif;
}
.dark body {
  background-color: white;
}


.gradient {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6));
}

.scroll::-webkit-scrollbar {
    height: 8px;
}


.scroll::-webkit-scrollbar-thumb {
  background: #9b9b9b;
  border-radius: 10px;
}
.scroll::-webkit-scrollbar-thumb:active {
  background-color: gray;
}

